body{
    background-color:RGB(90,40,10);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 2rem 1rem;
}

/* === header === */

#EstateSaleText{
    align-self: middle;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}

#HeaderText{
    display: flex;
    justify-content: center;
}

h3{
    font-family: 'Libre Franklin', sans-serif;;
    color:  #F8F0D2;;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 4px 8px rgb(0, 0, 0);;
}

#bevezeto{
    font-family: 'Libre Franklin', sans-serif;;
    color:  #F8F0D2;;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 4px 8px rgb(0, 0, 0);;
    margin-top: 50px;
}

/* === font === */

.libre-franklin-cmiyglfont {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* === navigacios cuccok === */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-family: 'Libre Franklin', sans-serif;;
  font-size: 20px;
  text-shadow: 0 4px 8px rgb(0, 0, 0);;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #F8F0D2;;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

nav ul li a:hover {
  border-color: #F8F0D2;;
}

/* === cover === */

#albumcover{
    display: flex;
    justify-content: center;
}

#CMIYGLCover{
    height: 300px;
    transition: transform 0.4s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.673);
}

#CMIYGLCover:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.673);
}

/* === hallgatas === */

#hallgatas{
    margin-top: 50px;
}

.zene-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}

.zene-rublika {
  font-family: 'Libre Franklin', sans-serif;;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  color: RGB(68,45,9);
  transition: transform 0.4s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.673);
}

.zene-rublika:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.673);
}

.zene-rublika img {
  width: 40px;
}

/* === tracklist === */

ol{
    color: #F8F0D2;;
    font-family: 'Libre Franklin', sans-serif;;
    list-style-position: inside; 
    padding: 0;
    margin: 0 auto; 
    width: fit-content;
    font-size: 22px;
    text-shadow: 0 4px 8px rgb(0, 0, 0);;
}

li{
    margin: 20px 0;
}

ol.colored-markers {
    list-style: none;
    padding-left: 0;
  }

  ol.colored-markers li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
  }


  ol.colored-markers li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  ol.colored-markers li:nth-child(4n+1)::before {
    background-image: url('csillagok/kek.png');
  }

  ol.colored-markers li:nth-child(4n+2)::before {
    background-image: url('csillagok/sarga.png');
  }

  ol.colored-markers li:nth-child(4n+3)::before {
    background-image: url('csillagok/zold.png');
  }
  
  ol.colored-markers li:nth-child(4n+4)::before {
    background-image: url('csillagok/rozsaszin.png');
  }

  /* === kepek === */

 .kepek{
    width: 40%;
    justify-content: center;
    transition: transform 0.4s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.673);
    display: flex;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .kepek:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.673);
}

  /* === lelső rész === */

footer {
  font-family: 'Libre Franklin', sans-serif;;
  text-align: center;
  padding: 3px;
  font-size: 0.9rem;
  color: #F8F0D2;;
  margin-bottom: 10px;
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* === vissza a főoldalra === */

#vissza{
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 20px;
    text-decoration: none;
    color: #F8F0D2;;    
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    margin-bottom: 80px;
    margin-top: 200px;
}

#vissza:hover {
  border-color: #F8F0D2;;
}